*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Modern Antiqua', cursive;
}

nav, ul{
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 2px 6px;
}


a:hover,
a:active {
    opacity: 1;
    color: #8257E6; 
    border-bottom: 4px solid #8257E6; 
}

/* Header */

#btn {
    display: none;
}

labe[for="btn"]{
    display: none;
}

label[for="btn"] {
    padding: 10px;
    background-color: #fff;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

@media (max-width: 789px) {
    labe[for="btn"]{
        display: block;
    }
    .menu li a {
        width: 100%;
        float: none;
    }
    .menu li {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 0.4s;
    }
    .menu li a:hover li {
        height: auto;
        max-height: 200px;
    }
}

header {
    background-color: #000;
    width: 100%;
    min-width: 100vh;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
}
header img{
    width: 200px;
    
}
header nav{
    display: flex;
}
header li a{
    color: #fff;
    font-size: 1.6rem;
    
}

header li{
    padding: 30px 10px;
}

header li:first-child{
    margin-left: 0;
}
header li:last-child{
    margin-right: 0;
}
header .menu{
    display: flex;
    flex-grow: 1;
}
header .nav-menu{
    display: flex;
    justify-content: space-around;

}

header .item-nav{
    margin: 0 auto;
    
}

nav .nav-menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

@media (max-width: 14300px){
    header {
        flex-direction: column;
    }
    header img {
        margin-bottom: 10px;
    }
    header .item-nav{
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 1410px) and (max-width: 1255px) {
    .menu a {
        font-size: 1.6rem;
    }
}
@media only screen and (max-width: 1250x) and (max-width: 1000px) {
    .menu a {
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 789px) {
    .menu a {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .menu a {
        font-size: 1.0rem;
    }
}

@media only screen and (max-width: 767px) {
    .menu a {
        font-size: 16px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .menu a {
        font-size: 12px;
    }
}
@media only screen and (max-width: 479px) {
    .menu a {
        font-size: 7px;
    }
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article .transition-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
} 

.transition-section{
    width: 100%;
    min-width: 100vh;
    margin-top: 250px;
    padding-bottom: 20px;
}

h1 {
    color: #000;
    font-size: 3.2rem;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}


.slider{
    width: 100vh;
    max-width: 2000px;
    height: 80vh;
    min-height: 200px;
    position: sticky; 
}

.slider img{
    opacity: 0;
    
    position: absolute;

    width: 100vh;
    max-width: 100%;
    height: 100%;
    object-fit: cover;

    transition: opacity 700ms;

}

.slider img.selected {
    opacity: 1;
}

.home-menu {
   min-width: 100%;
   width: 100vh;
   padding: 20px;
   margin-bottom: 10px;
}


.home-menu ul {
    padding: 0;
    list-style-type: none;
}

.home-menu ul:after {
    content: "";
    clear: both;
    display: block;
}

.home-menu li {
    float: left;
    width: 40%;
    padding: 0;
    font-size: 18px;
    margin: 20px 0 20px 10%;
}

.home-menu li:nth-child(odd) {
    margin: 20px 10% 20px 0;
}

.pedido {
    float: left;
    color: #000;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background: #fff;
    padding-right: 15px;
}

.valor {
    float: right;
    color: #000;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background: #fff;
    padding-left: 10px;
}

.descricao {
    clear: both;
    display: block;
    color: #999;
    font-style: italic;
    font-size: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    position: relative;
    top: -8px;
}
@media only screen and (min-width: 1025px) and (min-width: 1123px){
    span {
        font-size: 1.8rem;
    }
    
}

h2{
    width: 100%;
    font-size: 2.2rem;
    color: #fff;
    margin-top: 20px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}

/* footer */
footer {
    background-color: #000;
    padding: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 2.2rem;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.8rem;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #8257E6;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 2.0rem;
}

.logo-facebook,
.logo-googleplus,
.logo-twitter,
.logo-instagram {
    transition: color 0.2s;
}

.logo-facebook:hover {
    color: #3b5998;
}

.logo-twitter:hover {
    color: #00aced;
}

.logo-googleplus:hover {
    color: #dd4b39;
}

.logo-instagram:hover {
    color: #517fa4;
}

footer .footer-paragrafo {
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-size: 1.4rem;
}

.promo-footer {
    width: 100vh;
    min-width: 100%;
}

@media only screen and (max-width: 800px) and (max-width: 600px){
    footer {
        flex-direction: column;
    }
    footer p {
        font-size: 1.0rem;
    }
}