*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Modern Antiqua', cursive;
}

nav, ul{
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 4px 0 ;
}

a:hover,
a:active {
    opacity: 1;
    color: #8257E6; 
    border-bottom: 4px solid #8257E6; 
}

/* Header */

header {
    background-color: #000;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
}
header img{
    width: 300px;
    
}
header nav{
    display: flex;
}
header li a{
    color: #fff;
    font-size: 2.4rem;
}
header li{
    margin: 0 20px;
}

header li:first-child{
    margin-left: 0;
}
header li:last-child{
    margin-right: 0;
}
@media (max-width: 14100px){
    header {
        flex-direction: column;
    }
    header img {
        margin-bottom: 20px;
    }
}