*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Modern Antiqua', cursive;
}

nav, ul{
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 4px 0 ;
}

a:hover,
a:active {
    opacity: 1;
    color: #8257E6; 
    border-bottom: 4px solid #8257E6; 
}

/* Header */

header {
    background-color: #000;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
}
header img{
    width: 300px;
    
}
header nav{
    display: flex;
}
header li a{
    color: #fff;
    font-size: 2.8rem;
}
header li{
    margin: 0 20px;
}

header li:first-child{
    margin-left: 0;
}
header li:last-child{
    margin-right: 0;
}
@media (max-width: 14100px){
    header {
        flex-direction: column;
    }
    header img {
        margin-bottom: 20px;
    }
}

/* container-img */

.container-img {
    background-image: url("../img/meat-burger-tomato-onion-beans-walnuts-side-view\ 1.jpg");
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-img p {
    font-size: 6.6rem;
    color: #fff;
    padding: 150px;
    background-color: #000;
    opacity: 90%
}
@media (max-width: 14100px){
    .container-img p {
        font-size: 2.8rem;
    }

}
/* footer */

footer {
    background-color: #000;
    padding: 50px;
    font-size: 2.4rem;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #8257E6;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 3.2rem;
}

.logo-facebook,
.logo-googleplus,
.logo-twitter,
.logo-instagram {
    transition: color 0.2s;
}

.logo-facebook:hover {
    color: #3b5998;
}

.logo-twitter:hover {
    color: #00aced;
}

.logo-googleplus:hover {
    color: #dd4b39;
}

.logo-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
    font-size: 1.8rem;
}